<div class="sidebar" #sidebar id="sidebar">

    <ul class="pt-3">
        <p class="lead">Welcome {{name}}</p>
        <li class="ml-4"><a [routerLink]="['/admin/me']" routerLinkActive="active"><i class="fas fa-users-cog fa-3x"></i></a>

        </li>
    </ul>
    <hr>
    <ul>
        <li><a [routerLink]="['/admin/products']" routerLinkActive="active"><i class="fab fa-product-hunt"></i>Products</a></li>
        <hr>
        <li><a [routerLink]="['/admin/categories']" routerLinkActive="active"><i class="fas fa-sitemap"></i>Categories</a></li>
        <hr>
        <li><a [routerLink]="['/admin/users']" routerLinkActive="active"><i class="fas fa-users"></i>Users</a></li>
        <hr>
        <li><a [routerLink]="['/admin/logout']" routerLinkActive="active"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
    </ul>

</div>
