<div class="spinner text-center mt-5" *ngIf="isLoading">
    <app-spinner></app-spinner>

</div>


<div class="row">
    <div class="col-md-12 " *ngIf="users.length>0 &&!isLoading">
        <p class="lead text-center mt-5">These Are All The Signed Up Users.Manage Them</p>
        <div class="users " *ngFor="let user of users">
            <!--User-->
            <div class="user mt-3" *ngIf="!user.isAdmin">

                <div class="card mt-5 ml-5" style="max-width: 720px;height: 140px;">
                    <h5 class="card-header">Username={{user.name}}</h5>
                    <h5 class="card-header">Email={{user.email}}</h5>
                    <div class="card-body">
                        <button class="btn btn-sm btn-danger mr-5">Delete User</button>

                    </div>
                </div>
            </div>
            <!--User-->
        </div>

    </div>
</div>

<div class="not-found text-center mt-5" *ngIf="users.length<1">
    <p class="lead">No Users Found</p>

</div>
